@font-face {
  font-family: 'tln';
  src:  url('fonts/tln.eot?29gst');
  src:  url('fonts/tln.eot?29gst#iefix') format('embedded-opentype'),
    url('fonts/tln.ttf?29gst') format('truetype'),
    url('fonts/tln.woff?29gst') format('woff'),
    url('fonts/tln.svg?29gst#tln') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="tln_"], [class*=" tln_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tln' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tln_minus-square:before {
  content: "\e900";
}
.tln_plus-square:before {
  content: "\e901";
}
.tln_Icon-Stroke-4:before {
  content: "\e946";
}
.tln_copy-03:before {
  content: "\e944";
}
.tln_coins-stacked-01:before {
  content: "\e902";
}
.tln_dots-vertical:before {
  content: "\e903";
}
.tln_wallet-02:before {
  content: "\e904";
}
.tln_gift-01:before {
  content: "\e905";
}
.tln_medical-circle:before {
  content: "\e906";
}
.tln_eye-off:before {
  content: "\e907";
}
.tln_bank-note-03:before {
  content: "\e908";
}
.tln_refresh-ccw-02:before {
  content: "\e909";
}
.tln_check-circle-broken:before {
  content: "\e90a";
}
.tln_annotation-check:before {
  content: "\e90b";
}
.tln_annotation-info:before {
  content: "\e90c";
}
.tln_plus:before {
  content: "\e90d";
}
.tln_credit-card-refresh:before {
  content: "\e917";
}
.tln_share-01:before {
  content: "\e918";
}
.tln_square:before {
  content: "\e90e";
}
.tln_check-square:before {
  content: "\e90f";
}
.tln_x-close:before {
  content: "\e910";
}
.tln_check:before {
  content: "\e911";
}
.tln_coins-hand:before {
  content: "\e912";
}
.tln_edit-05:before {
  content: "\e913";
}
.tln_trash-01:before {
  content: "\e919";
}
.tln_shopping-cart-01:before {
  content: "\e91a";
}
.tln_shopping-bag-01:before {
  content: "\e91b";
}
.tln_arrow-block-right:before {
  content: "\e91c";
}
.tln_chevron-up-double:before {
  content: "\e91d";
}
.tln_bank-note-031:before {
  content: "\e91e";
}
.tln_presentation-chart-01:before {
  content: "\e929";
}
.tln_bell-01:before {
  content: "\e92a";
}
.tln_announcement-01:before {
  content: "\e92b";
}
.tln_file-search-02:before {
  content: "\e92c";
}
.tln_users-01:before {
  content: "\e92d";
}
.tln_marker-pin-01:before {
  content: "\e92e";
}
.tln_Icon-Stroke-12:before {
  content: "\e920";
}
.tln_chevron-down-double:before {
  content: "\e921";
}
.tln_bezier-curve-02:before {
  content: "\e922";
}
.tln_file-check-02:before {
  content: "\e923";
}
.tln_user-check-01:before {
  content: "\e924";
}
.tln_building-05:before {
  content: "\e925";
}
.tln_target-04:before {
  content: "\e92f";
}
.tln_user-x-01:before {
  content: "\e930";
}
.tln_user-plus-01:before {
  content: "\e932";
}
.tln_signal-02:before {
  content: "\e933";
}
.tln_users-011:before {
  content: "\e935";
}
.tln_globe-02:before {
  content: "\e936";
}
.tln_download-01:before {
  content: "\e937";
}
.tln_eye:before {
  content: "\e938";
}
.tln_users-check:before {
  content: "\e939";
}
.tln_zap:before {
  content: "\e93a";
}
.tln_edit-comment:before {
  content: "\e947";
}
.tln_clock-basic:before {
  content: "\e93b";
}
.tln_location:before {
  content: "\e931";
}
.tln_menu:before {
  content: "\e945";
}
.tln_mail:before {
  content: "\e934";
}
.tln_view-latestversion-comment:before {
  content: "\e91f";
}
.tln_view-firstversion-comment:before {
  content: "\e926";
}
.tln_arrow-left:before {
  content: "\e93c";
}
.tln_arrow-right:before {
  content: "\e948";
}
.tln_liked:before {
  content: "\e949";
}
.tln_like:before {
  content: "\e94a";
}
.tln_check-campaign:before {
  content: "\e94b";
}
.tln_cloud-upload:before {
  content: "\e94c";
}
.tln_camera:before {
  content: "\e94d";
}
.tln_minus-circle:before {
  content: "\e94e";
}
.tln_view-more:before {
  content: "\e94f";
}
.tln_original-version:before {
  content: "\e950";
}
.tln_latest-version:before {
  content: "\e951";
}
.tln_clock-campaign:before {
  content: "\e952";
}
.tln_check-submit:before {
  content: "\e93d";
}
.tln_home:before {
  content: "\e93e";
}
.tln_chevron-left:before {
  content: "\e93f";
}
.tln_chevron-right:before {
  content: "\e940";
}
.tln_edit:before {
  content: "\e927";
}
.tln_copy-01:before {
  content: "\e928";
}
.tln_cancel-delete:before {
  content: "\e953";
}
.tln_send:before {
  content: "\e954";
}
.tln_emoji:before {
  content: "\e955";
}
.tln_pin:before {
  content: "\e95d";
}
.tln_comment:before {
  content: "\e956";
}
.tln_view:before {
  content: "\e957";
}
.tln_logout:before {
  content: "\e958";
}
.tln_profile:before {
  content: "\e959";
}
.tln_bar-chart-10:before {
  content: "\e95a";
}
.tln_news:before {
  content: "\1f391";
}
.tln_announcement:before {
  content: "\e95c";
}
.tln_feedback:before {
  content: "\e95b";
}
.tln_question:before {
  content: "\e914";
}
.tln_idea:before {
  content: "\e915";
}
.tln_notification-bell:before {
  content: "\e916";
}
.tln_search:before {
  content: "\e941";
}
.tln_chevron-down:before {
  content: "\e942";
}
.tln_chevron-up:before {
  content: "\e943";
}
